<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<% include ./head %>
	</head>

	<body>

		<% include ./header %>

			<form class="form-cadastro" action="/cadastrar" method="POST">
			
				
						<div class="form-group">
							<label for="nome" class="col-sm-2 col-form-label">Nome</label>
							<input type="nome" value="André Luiz Queiroz" class="form-control" id="nome" name="nome" placeholder="Nome">
						</div>
						<div class="form-group">
							<label for="cpf" class="col-sm-2 col-form-label">CPF</label>
							<input type="name" value="111.111.111-11" class="form-control" id="cpf" name="cpf" placeholder="Cpf" required>
						</div>
			
				<div class="form-group row">
					<button type="submit" class="btn btn-info">Buscar</button>
				</div>
				

						<form>
						  <div class="form-group">
							
							<label for="sel2">Clientes Cadastrados:</label>
							<select multiple class="form-control" id="sel2">
							  <option>André Luiz Queiroz - 111.111.111.11</option>
							  <option>Cristian Medina - 222.222.222-22</option>
							  <option>Lucas Soares - 333.333.333-33</option>
							  <option>Enmory - 444.444.444-44</option>
							</select>
						  </div>
						</form>
				
						<div class="form-group row">
							<button type="submit" class="btn btn-primary">Consultar</button>
							<button type="submit" class="btn btn-warning">Editar</button>
							<button type="submit" class="btn btn-danger">Excluir</button>
						</div>

			</form>
					
	   <% include ./footer %>