<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<% include ./head %>
	</head>

	<body>	
	    <%include  ./header %>
		

			<form class="form-cadastro" action="/cadastrar" method="POST">
			
				
						<div class="form-group">
							<label for="titulo" class="col-sm-2 col-form-label">Título</label>
							<input type="name" value="Vingadores Guerra Infinita" class="form-control" id="titulo" name="titulo" placeholder="Título" required>
						</div>			
					
						<div class="form-group">
							<label for="Genero" class="col-sm-2 col-form-label">Genero</label>
							<input type="text" value="Ação" class="form-control" id="Genero" name="Genero" placeholder="Genero" required>
						</div>	
						
						<div class="form-group">
							<label for="sinopse" class="col-sm-2 col-form-label">Sinopse</label>
							<input type="text" value="Uma equipe de super heróis que lutam contra o vilão Thanos" class="form-control" id="sinopse" name="sinopse" placeholder="Sinopse" required>
						</div>	

						<div class="form-group">
								<label for="disp" class="col-sm-2 col-form-label">Disponibilidade</label><br/>
								<label class="radio-inline"><input type="radio" name="optradio" checked>Disponivel</label>
								<label class="radio-inline"><input type="radio" name="optradio">Indisponível</label>
						</div>
				
						
						<div class="form-group">
								<label for="idioma" class="col-sm-2 col-form-label">Idioma:</label>
								<select class="form-control" id="idioma" name="idioma" required>
									<option selected>Português</option>
									<option>Ingles</option>
									<option>Espanhol</option>
									<option>Japonês</option>
								</select>
							</div>

						<div class="form-group">
							<label for="local" class="col-sm-2 col-form-label">Local de origem</label>
							<input type="text" value="Hollywood" class="form-control" id="local" name="local" placeholder="Local de origem" required>
						</div>
						
						<div class="form-group">
							<label for="stock" class="col-sm-2 col-form-label">Quantidade em estoque</label>
							<input type="number" value="7" class="form-control" id="stock" name="stock" placeholder="Quantidade em estoque" required>
						</div>

				<div class="form-group row">
					<button type="submit" class="btn btn-primary">Confirmar cadastro</button>
				</div>
				

			</form>
					
	 <% include ./footer %>