
	    <div class="container">
			<h1><a href="/"> Video Locadora</a></h1>  
			<div class="btn-group">
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
					Cliente <span class="caret"></span></button>
					<ul class="dropdown-menu" role="menu">
					<li><a href="/cliente">Cadastrar</a></li>
					<li><a href="/consultar-cliente">Consultar</a></li>
					</ul>
				</div>
				<div class="btn-group">
					<button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown">
					Filme <span class="caret"></span></button>
					<ul class="dropdown-menu" role="menu">
					<li><a href="/filme">Cadastrar</a></li>
					<li><a href="/consultar-filme">Consultar</a></li>
					<li><a href="/locar-filme">Alugar Cópia</a></li>
					</ul>
				</div>
			</div><br/><br/>